.banner{
    background-image: url("../img/banner.jpg");
    background-color: white;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner .button{
        color: white;
        background-color: rgba(0,0,0,0);
        border-color: rgba(255,255,255,1);
}

#moreAboutMe{
    max-width: 800px;
    height: auto;
    width: auto\9; /* ie8 */
}

#mainBody{
    margin-top: 50px;
    margin-bottom: 50px;
}

#copyright{
    font-size: 12px;
}

.fa{
    color:black;
}

.footer a{
    margin-right: 10px;
    margin-left: 10px;
}